
<div class="container">
	<div class="section">
		<div class="jumbotron">

			<h3 align="center" ><i  class="fa fa-free-code-camp" aria-hidden="true" id="camp"></i></h3>
			<h2 align="center">  WELCOME TO YELPCAMP</h2>
			<p align="center" >View our hand picked campgrounds from around the world</p>
      <h3 align="center"><button class="btn btn-primary" [routerLink]="['/camp' , 'new']" >Add a new Camp</button></h3>
		</div>
	</div>
</div>


<div class="container">
	<app-all-camps></app-all-camps>
</div>
